{{ if ne .Params.comment false }}

{{ with .Site.Data.comment.waline}}
<link rel="stylesheet" href="https://unpkg.com/@waline/client@v3/dist/waline.css" />
<div id="waline"></div>
<script type="module">
import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';
init({
    {{ range $key, $value := . }}
    {{ $key }}: {{ $value }},
    {{ end }}
});
</script>
{{ end }}

{{ with .Site.Data.comment.giscus }}  
<div class="card comment-area">
<script async crossorigin="anonymous" src="https://giscus.app/client.js" data-repo="{{ $.repo }}"
        data-repo-id="{{ $.repoID }}" data-category="{{ $.catg }}"
        data-category-id="{{ $.catgID }}" data-mapping="title" data-reactions-enabled="1"
        data-emit-metadata="0" data-input-position="bottom" data-theme="preferred_color_scheme"
        data-lang="zh-CN" data-loading="lazy">
        </script>
</div>
{{ end }}
{{ end }}