<div class="post__meta">
  <span class="post__metaDate">
    {{- if .Params.pubdate -}}
    {{- .Scratch.Set "ICON_NAME" "clock" -}}
    {{- partial "icon" . -}}
    {{- else -}}
    {{- .Scratch.Set "ICON_NAME" "calendar-day" -}}
    {{- partial "icon" . -}}
    {{- end -}}
    {{- printf "<time>%s</time>" (.Date.Format "2006-01-02") | safeHTML -}}
  </span>
  {{- if .Params.pubdate -}}
  <span class="post__metaUpdate">
    {{- .Scratch.Set "ICON_NAME" "calendar-day" -}}
    {{- partial "icon" . -}}
    {{- printf "<time>%s</time>" ((time .Params.pubdate).Format "2006-01-02") | safeHTML -}}
  </span>
  {{- end -}}
  <span class="post__metaWords">
    {{- .Scratch.Set "ICON_NAME" "file-alt" -}}
    {{- partial "icon" . -}}
    {{- printf "%d words" .WordCount -}}
  </span>
  {{ printf "" }}
  <span class="post__metaMinutes">
    {{- .Scratch.Set "ICON_NAME" "clock" -}}
    {{- partial "icon" . -}}
    {{- printf "%d minutes" .ReadingTime -}}
  </span>
  {{- if .Params.categories -}}
  <span class="post__metaCategory">
    {{- .Scratch.Set "ICON_NAME" "folder" -}}
    {{- partial "icon" . -}}
    {{ range .Params.categories }}
      <a>{{ . }}</a>
    {{ end }}
  </span>
  {{- end -}}
  {{- if .Params.tags -}}
  <span class="post__metaTag">
    {{- .Scratch.Set "ICON_NAME" "hashtag" -}}
    {{- partial "icon" . -}}
    {{ range .Params.tags }}
      <a>{{ . }}</a>
    {{ end }}
  </span>
  {{- end -}}

  
</div>
